# Ignore Python cache files
src/**/__pycache__/
src/**/*.pyc
tests/**/__pycache__/
tests/**/*.pyc
mlops_sdk.sublime-project
mlops_sdk.sublime-workspace
tests/mlops_sdk.sublime-workspace
venv/
hf_model/model.safetensors
venv/
venv/
hf_model/model.safetensors
hf_model/
